* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    background-color: black;
}

.main {
    background-image: url("/bgimg2.jpg");
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    width: 100vw;
    height: 80vh;
    position: relative;
    background-position: center;

}

nav {
    
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    height: 40px;
}

nav img {
    position: relative;
    /* position: absolute; */
    width: 90px;
    background: blanchedalmond;
    padding: 3px;
    border-radius: 5px;
}

.box .box {
    position: absolute;
    top: 0;
    height: 80vh;
    width: 100%;
    opacity: 0.5;
    background-color: black;
}

.hero {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}

.hero> :first-child {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.sepration{
    height: 8px;
    background-color: grey;
    opacity: 5px
    ;
}
.main input{
    color: white;
    padding: 10px 28px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(23,23,23,0.55);
}
.btn{
   
    font-weight: bold;
    border-radius: 5px;
   color: white; 
    padding: 8px;
    margin-top: 29px;
    background-color: rgba(23,23,23,0.55);
    cursor: pointer;
}
.btn-red{
    padding: 10px 28px;
    font-size: 20px;
    background-color: red;
    color: white;
    cursor: pointer;
}
.btn-red-asn{
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 8px;
    margin-top: 29px;
}
.first{
    background-size: max(1000px, 100vw);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    height: 80vh;
    width: 100%;
}
.firsttext{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px
    ;
}
/* .first :first-child{
    
    color: white;
} */
 .first .firsttext :first-child{
    font-size: 50px;
    font-weight: bolder
}
.secimg img{
    width: 30vw;
    position: relative;
    z-index: 10;
    
}
.secimg{
    position: relative;

}
.secimg video{
    position: absolute;
    top: 70px;
    width: 22vw;
    right: 62px;
}

.qnatext{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.qna{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: rgb(17, 12, 12);
    padding: 34px;
    margin-top: 20px;
    flex-direction: column;
}

 .faq{
    cursor: pointer;
    background-color:rgb(79, 77, 77);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
    padding: 15px;
 }
 .faq:hover{
    background-color: rgb(103, 106, 109);
 }
 .faqtext{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
 }
 .hero  input{
    color: white;
    padding: 10px 28px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(23,23,23,0.55);
}
